@font-face {
    font-family: 'KOT-Eitai Gothic';
    src: local('KOT-Eitai Gothic-Bold'), local('KOT Eitai Gothic Bold'),
    local('KOTEitaiGothicBold'), local('KOTEitaiGothic-Bold'),
    url('../assets/fonts/KOT-EitaiGothic-Bold.ttf') format('truetype'),
    url('../assets/fonts/KOT-EitaiGothic-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
