@import "fonts.css";

html {
  height: 100%;
  background-color: #1E1E1E;
}

body {
  height: 100%;
  font-family: 'KOT-Eitai Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-orange: #FF7F00;
  --color-gray: #1E1E1E;
  --color-white: #FFF2EC;
  --color-alabuga-blue: #2B3C99;
  --color-alabuga-accent: #A2E1F9;
  --color-vtb-blue: #0A2896;
  --color-vtb-accent: #00AAFF;
  --color-lemana-accent: #FDC300;
  --color-lemana-dark: #21282B;
  --color-beeline-accent: #FFC800;
  --color-beeline-dark: #141414;
  --color-white-text: #FFF2EC;
  --color-dark-text: #1E1E1E;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: 'KOT-Eitai Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;   
}

p, span, button, div {
  letter-spacing: -0.03em;
  text-transform: lowercase;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}